<!-- Team Section -->
    <section id="faq">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">FAQ</h2>

                </div>
            </div>

<!--             <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="question">Q : Quelle est la date limite pour le RSVP?</div>
                    <div>Ça serait super si le xxx nous pouvions avoir une idée du nombre de personne qui seront présentes.</div>


                </div>
            </div> -->
            <h4 class="text-center"><u>RSVP</u></h4>
            <div class="row">
                <div class="col-lg-3 text-center"></div>
                <div class="col-lg-6 text-center">
                    <div class="question">Q : Quand est-ce que je devrais répondre au RSVP?</div>
                    <div>Une réponse est souhaitée avant le 18 août.</div>
                </div>
                <div class="col-lg-3 text-center"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-3 text-center"></div>
                <div class="col-lg-6 text-center">
                    <div class="question">Q : Quoi faire si j’ai un imprévu de dernière minute et que je ne peux pas être de la partie?</div>
                    <div>Vous pouvez contacter Marie-Laurence ou Marc-Antoine directement pour les aviser.</div>
                </div>
                <div class="col-lg-3 text-center"></div>
            </div>
            <br>


            <h4 class="text-center"><u>Se rendre</u></h4>
            <div class="row">
                <div class="col-lg-3 text-center"></div>
                <div class="col-lg-6 text-center">
                    <div class="question">Q : Je compte m’y rendre en auto, comment faire?</div>
                    <div>Le Portus 360 est situé dans la tour EVO, au coin du boulevard Robert-Bourrassa, de la rue St-Antoine, et de la rue St-Jacques. Il y a un débarcadère accessible par la rue St-Jacques. <a href="https://goo.gl/maps/xDyuCcEJU2uBR5g89">Cliquez ici</a> pour voir le tout dans Google Maps.</div>
                </div>
                <div class="col-lg-3 text-center"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-3 text-center"></div>
                <div class="col-lg-6 text-center">
                    <div class="question">Q : Et pour le stationnement?</div>
                    <div>Si vous voulez éviter de chercher un stationnement de rue et risquer de manquer la réception, vous pouvez utiliser le stationnement intérieur servant à la tour EVO et la Place Victoria. Aux dernières nouvelles, le coût est de 15$ et l’entrée se fait par la petite rue Gauvin.</div>
                </div>
                <div class="col-lg-3 text-center"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-3 text-center"></div>
                <div class="col-lg-6 text-center">
                    <div class="question">Q : Je compte m’y rendre en transport en commun, comment faire?</div>
                    <div>Le restaurant est tout près de la station Square Victoria / OACI.</div>
                </div>
                <div class="col-lg-3 text-center"></div>
            </div>
            <br>


            <h4 class="text-center"><u>Déroulement de la soirée</u></h4>
            <div class="row">
                <div class="col-lg-3 text-center"></div>
                <div class="col-lg-6 text-center">
                    <div class="question">Q : À quelle heure devrais-je arriver?</div>
                    <div>Le cocktail débutera dès 17h30. Nous vous demandons d’arriver avant 18h30.</div>
                </div>
                <div class="col-lg-3 text-center"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-3 text-center"></div>
                <div class="col-lg-6 text-center">
                    <div class="question">Q : Vous êtes déjà marié? Hein? Y-aura-t-il une cérémonie?</div>
                    <div>Les rumeurs sont vraies, nous nous sommes mariés lors d’une petite cérémonie civile au mois de juin dernier. La soirée du 28 septembre sera l’occasion de célébrer avec amis et famille cet évènement. Il n’y aura pas de cérémonie à part peut-être quelques speechs bien émouvants ;)</div>
                </div>
                <div class="col-lg-3 text-center"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-3 text-center"></div>
                <div class="col-lg-6 text-center">
                    <div class="question">Q : Quel est le “dress code” pour de mariage?</div>
                    <div>Semi-formel.</div>
                </div>
                <div class="col-lg-3 text-center"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-3 text-center"></div>
                <div class="col-lg-6 text-center">
                    <div class="question">Q : Qu’est ce que je vais manger? Quoi faire si je n’aime pas le poisson? Quoi faire si j’ai une allergie? Qu’est-ce que je vais boire?</div>
                    <div>Le restaurant Portus 360 se spécialise dans la fine cuisine portugaise. Lors du souper, en plus d’une sélection de tapas, vous pourrez choisir entre un plat de viande, de poisson, fruits de mer ou un plat végétarien. Vin et bière seront également inclus tout au long de la soirée. N’oubliez pas de nous faire part de toutes restrictions alimentaires lorsque vous confirmerez votre présence.</div>
                </div>
                <div class="col-lg-3 text-center"></div>
            </div>
            <br>

            <h4 class="text-center"><u>Questions Inclassables</u></h4>
            <div class="row">
                <div class="col-lg-3 text-center"></div>
                <div class="col-lg-6 text-center">
                    <div class="question">Q : Je croyais que Marc-Antoine déménageait à Boston à la fin août. C’est pas un peu compliqué d’organiser votre célébration le 28 septembre?</div>
                    <div>Oui, Marc-Antoine déménage à Boston dès la fin août mais sera à Montréal lors de la fin de semaine en question. Au pire, s'il n'a pas le temps de se rendre, Marie-Laurence sera là. C’est elle qui est le plus de party de toute façon.</div>
                </div>
                <div class="col-lg-3 text-center"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-3 text-center"></div>
                <div class="col-lg-6 text-center">
                    <div class="question">Q : En attendant le jour J, avez-vous des recommandations de lecture sur le sujet?</div>
                    <div>Bien sûr! :D<br><br>
                        <div class="csl-bib-body" style="line-height: 1.35; margin-left: 2em; text-indent:-2em;text-align:left;">
                            <div class="csl-entry">Francis‐Tan, Andrew, and Hugo M. Mialon. “‘A Diamond Is Forever’ and Other Fairy Tales: The Relationship Between Wedding Expenses and Marriage Duration.” <i>Economic Inquiry</i> 53, no. 4 (2015): 1919&ndash;30. <a href="https://doi.org/10.1111/ecin.12206">https://doi.org/10.1111/ecin.12206</a>.</div>
                            <span class="Z3988" title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=info%3Adoi%2F10.1111%2Fecin.12206&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=%E2%80%9CA%20Diamond%20Is%20Forever%E2%80%9D%20and%20Other%20Fairy%20Tales%3A%20The%20Relationship%20Between%20Wedding%20Expenses%20and%20Marriage%20Duration&amp;rft.jtitle=Economic%20Inquiry&amp;rft.volume=53&amp;rft.issue=4&amp;rft.aufirst=Andrew&amp;rft.aulast=Francis%E2%80%90Tan&amp;rft.au=Andrew%20Francis%E2%80%90Tan&amp;rft.au=Hugo%20M.%20Mialon&amp;rft.date=2015&amp;rft.pages=1919-1930&amp;rft.spage=1919&amp;rft.epage=1930&amp;rft.issn=1465-7295&amp;rft.language=en"></span>
                        </div>
                        <br>
                        <div class="csl-bib-body" style="line-height: 1.35; margin-left: 2em; text-indent:-2em;text-align:left;">
                            <div class="csl-entry">Kabátek, Jan, and David C. Ribar. “Not Your Lucky Day: Romantically and Numerically Special Wedding Date Divorce Risks.” <i>Journal of Population Economics</i> 31, no. 4 (2018): 1067–95. <a href="https://doi.org/10.1007/s00148-017-0684-6">https://doi.org/10.1007/s00148-017-0684-6</a>.</div>
                            <span class="Z3988" title="url_ver=Z39.88-2004&amp;ctx_ver=Z39.88-2004&amp;rfr_id=info%3Asid%2Fzotero.org%3A2&amp;rft_id=info%3Adoi%2F10.1007%2Fs00148-017-0684-6&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Ajournal&amp;rft.genre=article&amp;rft.atitle=Not%20your%20lucky%20day%3A%20romantically%20and%20numerically%20special%20wedding%20date%20divorce%20risks&amp;rft.jtitle=Journal%20of%20Population%20Economics&amp;rft.stitle=J%20Popul%20Econ&amp;rft.volume=31&amp;rft.issue=4&amp;rft.aufirst=Jan&amp;rft.aulast=Kab%C3%A1tek&amp;rft.au=Jan%20Kab%C3%A1tek&amp;rft.au=David%20C.%20Ribar&amp;rft.date=2018-10-01&amp;rft.pages=1067-1095&amp;rft.spage=1067&amp;rft.epage=1095&amp;rft.issn=1432-1475&amp;rft.language=en"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 text-center"></div>
            </div>
<!--             <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="question">Q : Comment dois-je m'habiller?</div>
                    <div>Le <i>dresscode</i> pour la soirée est semi-formel. Pas besoin d'un tux, mais le complet serait le bienvenu.</div>
                </div>
            </div> -->
<!--             <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="question">Q : Est-ce que le restaurant Portus 360 a une signification spéciale pour nous?</div>
                    <div></div>
                </div>
            </div> -->
<!--             <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="question">Q : Quelle est votre plat préféré de Helena?</div>
                    <div></div>
                </div>
            </div> -->
        </div>
    </section>