<!-- Team Section -->
    <section id="faq" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">FAQ</h2>
                    <h3 class="section-subheading text-muted">Des questions-réponses devraient se rajouter plus le jour J approche.</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="question">Q: Quelle est la date limite pour le RSVP?</div>
                    <div>Ça serait super si le xxx nous pouvions avoir une idée du nombre de personne qui seront présentes.


                </div>
            </div>

        </div>
    </section>