<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p countdown>Dec 31 2020 23:59:59</p>
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                                    <div class="countdown-styled"></div>
    <script type="text/javascript">
    $(function() {
      $('.countdown-styled').countdown({
        render: function(data) {
          var el = $(this.el);
          el.empty()
            .append("<div>" + this.leadingZeros(data.years, 4) + " <span>years</span></div>")
            .append("<div>" + this.leadingZeros(data.days, 3) + " <span>days</span></div>")
            .append("<div>" + this.leadingZeros(data.hours, 2) + " <span>hrs</span></div>")
            .append("<div>" + this.leadingZeros(data.min, 2) + " <span>min</span></div>")
            .append("<div>" + this.leadingZeros(data.sec, 2) + " <span>sec</span></div>");
        }
      });

      $('.stop').on('click', function(e) {
        e.preventDefault();
        $('.countdown-styled').data('countdown').stop();
      });

      $('.start').on('click', function(e) {
        e.preventDefault();
        $('.countdown-styled').data('countdown').start();
      });

      $('.countdown-callback').countdown({
        date: +(new Date) + 10000,
        render: function(data) {
          $(this.el).text(this.leadingZeros(data.sec, 2) + " sec");
        },
        onEnd: function() {
          $(this.el).addClass('ended');
        }
      }).on("click", function() {
        $(this).removeClass('ended').data('countdown').update(+(new Date) + 10000).start();
      });

    });
    </script>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Security</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>